<div class="row">
    <div class="col-lg-12 text-center">
        <h2>Login</h2>
    </div>
</div>
<div class="row">
	<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-10 offset-1">
		<form name="form" ng-submit="login()" data-toggle="validator" role="form">
		  <div class="form-group">
		    <input type="text" ng-model="username" class="form-control" name="username" placeholder="Nome" required>
		  </div>
		  <div class="form-group">
		     <input type="password" data-minlength="6" class="form-control" ng-model="password" name="password" placeholder="Senha" required>
		  </div>
		  
		  <div class="form-group">
		    <button type="submit" class="btn btn-primary">Logar</button>
		  </div>
		</form>
	</div>
</div>
