<div class="row">
    <div class="col-lg-12 text-center">
        <h2>Lista de login</h2>
    </div>
</div>
<div class="row">
	<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-10 offset-1">
		<ul class="list-unstyled">
			<li ng-repeat="user in users">
	            {{user.name}}
	        </li>
		</ul>
		</form>
	</div>
</div>